
// CONTACT FORM

article.node-webform {
  margin-bottom: 60px;
  text-align: center;
  @include media($desktop) {
    padding: 0;
  }
  .field-type-text-with-summary {
    @include media($desktop) {
      text-align: left;
    }
  }
}
.webform-client-form {
  label {
          color: $gray;
          font-weight: 600;
          text-align: left;
  }
  input[type="text"], input[type="email"], textarea {
          background-color: #ddd;
          border: 1px solid #ddd;
          color: #333;
          font-size: 14px;
          font-weight: 400;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 100%;
          @include border-top-radius(4px);
          @include border-bottom-radius(4px);
          &:focus {
      border: 1px solid #7e4a82;
          }
  }
  #webform-component-contact-name {
    @include media($desktop) {
      @include span-columns(4);
    }
  }
  #webform-component-contact-email {
    @include media($desktop) {
      @include span-columns(4);
      margin-right: 0
    }
  }
  #edit-submitted-contact-reason {
          background: url('../images/ico/ico_triangle_down.png') no-repeat 95% #ddd;
          border-color: #ddd;
          color: #333;
          cursor: pointer;
          display: block;
          font-size: 14px;
          margin: 0;
          outline: none;
          padding: 8px 16px;
          position: relative;
          width: 100%;
          @include appearance(none);
          @include border-top-radius(4px);
          @include border-bottom-radius(4px);
          @include media($desktop) {
                  @include span-columns(4);
                          float: none;
          }
        }
        #edit-submitted-contact-reason.form-radios {
                background-color: white;
                background-image: none;
                input[type="radio"] {
                        float: left;
                        line-height: 1.8em;
                        margin-right: 16px;
                        margin-top: 8px;
                }
        }
  .grippie {
    display: none;
  }
  input[type="submit"] {
    text-transform: uppercase;
    @include button($purple);
    font-size: 18px;
    padding: 18px 18px;
    @include media($desktop) {
      @include span-columns(2);
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 40px;
      padding: 12px 16px;
    }
  }
}