/*
 * This file should only comprise of @imports.
 * Place all styles in appropriately named files.
 * See the ToC in _application.scss
 */
/* Bourbon & Neat
 * -----------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Enriqueta:700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*-------------------------------------- Column Creation ---------------------------------------*/
.span_12 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%; }
  .span_12:last-child {
    margin-right: 0; }

.span_11 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 91.48936%; }
  .span_11:last-child {
    margin-right: 0; }

.span_10 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 82.97872%; }
  .span_10:last-child {
    margin-right: 0; }

.span_9 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%; }
  .span_9:last-child {
    margin-right: 0; }

.span_8 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%; }
  .span_8:last-child {
    margin-right: 0; }

.span_7 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%; }
  .span_7:last-child {
    margin-right: 0; }

.span_6 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .span_6:last-child {
    margin-right: 0; }

.span_5 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 40.42553%; }
  .span_5:last-child {
    margin-right: 0; }

.span_4 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .span_4:last-child {
    margin-right: 0; }

.span_3 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%; }
  .span_3:last-child {
    margin-right: 0; }

.span_2 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%; }
  .span_2:last-child {
    margin-right: 0; }

.span_1 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 6.38298%; }
  .span_1:last-child {
    margin-right: 0; }

.shift_1 {
  margin-left: 8.51064%; }

.shift_2 {
  margin-left: 17.02128%; }

.shift_3 {
  margin-left: 25.53191%; }

.shift_4 {
  margin-left: 34.04255%; }

.shift_5 {
  margin-left: 42.55319%; }

.shift_6 {
  margin-left: 51.06383%; }

.shift_7 {
  margin-left: 400%; }

.shift_8 {
  margin-left: 68.08511%; }

.shift_9 {
  margin-left: 76.59574%; }

.shift_10 {
  margin-left: 85.10638%; }

.shift_11 {
  margin-left: 93.61702%; }

.shift_12 {
  margin-left: 102.12766%; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: block; }

.selfclear {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center, .center {
  text-align: center; }

.text-right {
  text-align: right; }

.valign-top {
  vertical-align: top; }

.valign-middle {
  vertical-align: middle; }

.valign-bottom {
  vertical-align: bottom; }

.relative {
  position: relative; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

/* Base
 * -----------------------------------------------------------------------------*/
/***********************************************************************************/
/* Variables */
/***********************************************************************************/
/*-------------------------------------- Mixins ---------------------------------------*/
.sidebar .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

ul.primary {
  height: 23px;
  margin-left: 0;
  padding-left: 1%; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      font-size: .8em;
      padding: 7px; }

form small, form .description {
  color: #5f5f5f; }

label, label.required {
  display: block;
  font-weight: 700; }

label.required:after {
  content: "*";
  color: #c41230;
  margin-left: 3px; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0;
  padding: 9px 34px 9px 10px; }

textarea {
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 9px; }

input[type="submit"] {
  background-color: #ccc;
  color: #fff;
  display: block;
  font-size: 1.1em;
  font-weight: 700;
  padding: 7px 30px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  margin-top: 10px; }
  input[type="submit"]:hover {
    background-color: #aaa; }

img, object, video {
  height: auto;
  max-width: 100%; }

.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

/***********************************************************************************/
/* Type Treatments */
/***********************************************************************************/
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, h7, h8 {
  line-height: 1.2; }

h1 {
  font-family: "Enriqueta", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #d6172d;
  font-size: 2.5em;
  text-transform: uppercase; }

h2 {
  font-family: "Enriqueta", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0067b3;
  font-size: 1.9em;
  margin-bottom: .5em; }

h3 {
  font-family: "Enriqueta", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.063em;
  color: #0067b3; }

h4 {
  font-family: "Enriqueta", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFF;
  font-size: 1.25em; }

.slider_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  color: black; }

.caps {
  text-transform: uppercase; }

.center_blue {
  color: #FFF;
  text-align: center;
  padding: .35em 0;
  background: #0067b3;
  border: 1px solid #0067b3;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.center_red {
  text-align: center;
  padding: .25em 0; }

.footer h2 {
  color: #239600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal; }

.footer {
  color: #FFF; }

.copyright {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #239600;
  font-size: 0.688em; }

/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/
/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/         => Sass extends declarations
 * /mixins/          => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss       => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss     => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * ---------------------------------------------------------------------------
 */
img, object, video, embed {
  max-width: 100% !important; }

a {
  color: #0067b3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.center {
  margin: auto;
  text-align: center; }

.go_right {
  text-align: right; }

p {
  margin: 1em 0;
  line-height: 1.25em; }

li {
  line-height: 1.25em; }

.omega {
  margin-right: 0; }

.button {
  display: inline-block;
  padding: .5em 1.4em;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Enriqueta", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }
  .button:hover {
    text-decoration: none; }

.blue_button {
  background: #0067b3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .blue_button:hover {
    background: #004a80; }

.green_button {
  background: #239600;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .green_button:hover {
    background: #176300; }

.social_icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-left: .35em;
  text-indent: -999em; }

.iphone_display, .iphone_show, .ipad_show {
  display: none; }

.lg_display {
  display: block; }

/*-------------------------------------- Body and Background ---------------------------------------*/
body {
  background: #e4f5fa url("../images/bg_clouds.jpg") center top repeat-x; }

/*-------------------------------------- Main Container ---------------------------------------*/
.container {
  zoom: 1;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .container:after {
    clear: both; }

/*-------------------------------------- Begin Header ---------------------------------------*/
.masthead {
  padding-top: 1em;
  position: relative;
  zoom: 1;
  margin-bottom: 1em; }
  .masthead:before, .masthead:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .masthead:after {
    clear: both; }
  .masthead .logo {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .masthead .logo:last-child {
      margin-right: 0; }
    .masthead .logo a {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      display: block;
      height: 125px;
      width: 276px;
      background: url("../images/logo_play-mart-main.png") 0 0 no-repeat; }
      .masthead .logo a:hover {
        background-position: 0 -125px; }
  .masthead .social {
    position: absolute;
    top: 10px;
    right: 0;
    zoom: 1; }
    .masthead .social:before, .masthead .social:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .masthead .social:after {
      clear: both; }
  .masthead .login_button {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5em 1em;
    margin-right: .35em;
    border-right: 1px solid #FFF;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    position: relative;
    top: 7px; }
    .masthead .login_button:hover {
      color: rgba(255, 255, 255, 0.7); }
  .masthead .facebook {
    background: url(../images/sm_header/sm_header_facebook.png) 0 0 no-repeat; }
    .masthead .facebook:hover {
      background-position: 0 -30px; }
  .masthead .twitter {
    background: url(../images/sm_header/sm_header_twitter.png) 0 0 no-repeat; }
    .masthead .twitter:hover {
      background-position: 0 -30px; }
  .masthead .in {
    background: url(../images/sm_header/sm_header_linkedin.png) 0 0 no-repeat; }
    .masthead .in:hover {
      background-position: 0 -30px; }
  .masthead .youtube {
    background: url(../images/sm_header/sm_header_youtube.png) 0 0 no-repeat; }
    .masthead .youtube:hover {
      background-position: 0 -30px; }

.mainNav {
  margin-top: 6em;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-right: 0; }
  .mainNav:last-child {
    margin-right: 0; }
  .mainNav ul {
    margin: 0; }
  .mainNav li {
    float: left;
    zoom: 1;
    position: relative;
    padding-bottom: 1em; }
    .mainNav li:before, .mainNav li:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .mainNav li:after {
      clear: both; }
    .mainNav li a {
      float: left;
      display: block;
      font-family: "Enriqueta", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1em;
      text-transform: uppercase;
      color: #0067b3;
      text-decoration: none;
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      -o-transition: color 0.2s ease;
      transition: color 0.2s ease;
      margin-left: 1em; }
      .mainNav li a:hover {
        color: #d6172d; }
    .mainNav li ul {
      display: none;
      position: absolute;
      top: 30px;
      left: 1em;
      width: 140px;
      background: #0067b3; }
      .mainNav li ul li {
        float: none;
        padding-bottom: 0; }
        .mainNav li ul li a {
          float: none;
          display: block;
          margin: 0;
          padding: .5em 1em;
          color: #FFF;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 400;
          font-style: normal;
          text-transform: none;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          .mainNav li ul li a:hover {
            color: #FFF;
            background: #73cbe5; }
  .mainNav li.nav_roll > a {
    color: #d6172d; }
  .mainNav li.green_zone a:hover {
    color: #239600; }

.mobileNav {
  display: none; }

/*-------------------------------------- Feature Slider ---------------------------------------*/
.feature {
  zoom: 1; }
  .feature:before, .feature:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .feature:after {
    clear: both; }

.slide {
  width: 100%;
  height: 350px;
  background: url("../images/slides/feature-fun.jpg") center center no-repeat;
  zoom: 1; }
  .slide:before, .slide:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .slide:after {
    clear: both; }

.r_slide {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 40.42553%;
  margin-left: 59.57447%;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 1em 1em 0; }
  .r_slide:last-child {
    margin-right: 0; }
  .r_slide .button {
    margin-top: 1em; }

/*-------------------------------------- Products Pages ---------------------------------------*/
.product_feature {
  background: url("../images/bg_gradation.png") 0 0 repeat-x; }
  .product_feature .pf_right {
    padding-top: .5em; }
    .product_feature .pf_right ul li {
      list-style: disc;
      margin-left: 1.25em; }
  .product_feature .button {
    float: right;
    margin-right: 1em; }

h2 a.button {
  font-size: .6em;
  margin-right: .75em; }

/*-------------------------------------- Product Single ---------------------------------------*/
.feature_contain {
  zoom: 1;
  position: relative; }
  .feature_contain:before, .feature_contain:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .feature_contain:after {
    clear: both; }

.arrow {
  display: block;
  width: 35px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px; }

.feature_prev {
  background: url("../images/icon_feature-arrow-left.png") 0 0 no-repeat;
  left: 10px; }

.feature_next {
  background: url("../images/icon_feature-arrow-right.png") 0 0 no-repeat;
  right: 10px; }

.arrow:hover {
  background-position: 0 -60px; }

.thumb_slider {
  position: relative;
  padding: 1em 0;
  zoom: 1;
  background: #73cbe5;
  margin: 1em 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .thumb_slider:before, .thumb_slider:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .thumb_slider:after {
    clear: both; }
  .thumb_slider ul {
    padding-left: 13%; }
    .thumb_slider ul li {
      float: left;
      margin: 0 1em; }

.scroller {
  display: block;
  width: 50px;
  height: 75px;
  position: absolute;
  top: 50%;
  margin-top: -37px; }

.scroller_prev {
  background: url("../images/icon_scroller-left.png") 0 0 no-repeat;
  left: 0; }

.scroller_next {
  background: url("../images/icon_scroller-right.png") 0 0 no-repeat;
  right: 0; }

.scroller:hover {
  background-position: 0 -75px; }

/*-------------------------------------- Get Started ---------------------------------------*/
.step_container {
  zoom: 1;
  background: url("../images/bg_gradation.png") 0 0 repeat-x; }
  .step_container:before, .step_container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .step_container:after {
    clear: both; }
  .step_container .span_4 {
    margin-top: 1.5em; }
  .step_container img {
    margin-bottom: 1em; }
  .step_container .button {
    display: block;
    text-align: center; }

.get_started .contact_form {
  display: none; }

/*-------------------------------------- Get STarted Form ---------------------------------------*/
/*-------------------------------------- Secondary Feature ---------------------------------------*/
.sub_feature {
  margin-top: 1em; }
  .sub_feature .button {
    margin-right: 1em; }

/*-------------------------------------- Homepage Grid ---------------------------------------*/
.product_grid {
  zoom: 1;
  margin-top: 1em; }
  .product_grid:before, .product_grid:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .product_grid:after {
    clear: both; }
  .product_grid ul li {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-top: 1.25em;
    background: #0067b3;
    padding-bottom: .15em;
    border-bottom: 1px solid transparent;
    border-radius: 5px; }
    .product_grid ul li:last-child {
      margin-right: 0; }
    .product_grid ul li:nth-child(3n) {
      margin-right: 0; }
    .product_grid ul li:nth-child(3n+1) {
      clear: left; }
  .product_grid h4, .product_grid h4 a {
    color: #FFF;
    margin: 0 0 0 0;
    text-align: center;
    padding: .25em 0;
    text-decoration: none; }

/*-------------------------------------- Page Content ---------------------------------------*/
.content h1, .content h2, .content h3, .content h4 {
  margin: 0.625em 0; }
.content h4 {
  color: #d6172d; }
.content ul, .content ol, .content dl, .content blockquote {
  margin: 1em 0; }
.content ul li {
  margin: 0 0 0 1.35em;
  padding: .25em 1em .25em .5em;
  list-style: disc; }
.content ol li {
  margin: 0 0 0 1.35em;
  padding: .25em 1em .25em .5em;
  list-style: decimal; }
.content dl dd, .content dl dt {
  padding: .25em 0; }
.content dl dt {
  font-weight: bold; }
.content pre {
  font-family: "Enriqueta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875em;
  border: 1px solid #666;
  padding: 1em; }
.content blockquote {
  background: #FFF;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  border-left: 10px solid #0067b3; }
.content .button {
  margin: .5em 0; }
.content table th {
  font-weight: bold; }
.content table th, .content table td {
  padding: .25em 1em;
  border: 1px solid #73cbe5;
  text-align: left;
  vertical-align: top; }

/*-------------------------------------- Sidebar ---------------------------------------*/
.sidebar {
  margin-top: 1em; }

/*-------------------------------------- Footer ---------------------------------------*/
.footer {
  clear: both;
  margin-top: 1em;
  background: #245525 url("../images/bg_footer-grass.jpg") center top repeat-x;
  padding-top: 110px;
  color: #FFF; }
  .footer a {
    color: #FFF;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
  .footer h2 {
    color: #78dc00;
    font-size: 1.25em;
    text-transform: uppercase; }

.catalog_box {
  background: #239600; }
  .catalog_box h2 {
    color: #78dc00;
    font-size: 1.25em;
    text-align: center;
    margin-top: .5em;
    text-transform: none; }
  .catalog_box img {
    text-align: center;
    display: block;
    margin: 0 auto; }

.cat_foot {
  background: #FFF;
  margin-bottom: -.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .cat_foot h3, .cat_foot a {
    color: #239600;
    margin-left: 1em;
    text-decoration: none; }
  .cat_foot a:hover {
    color: #245525; }
  .cat_foot h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    padding-top: 1em; }

div.quick_links {
  padding-left: 2em; }

div.bottom_links {
  margin-top: 1em; }

table.company_info td {
  padding-right: 1em; }

.footer_bottom {
  clear: both;
  zoom: 1;
  padding-top: 3em;
  padding-bottom: 1.5em; }
  .footer_bottom:before, .footer_bottom:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .footer_bottom:after {
    clear: both; }
  .footer_bottom a {
    color: #239600;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease; }
    .footer_bottom a:hover {
      color: #78dc00;
      text-decoration: underline; }
  .footer_bottom .social a {
    float: right;
    position: relative;
    top: -8px; }
  .footer_bottom .facebook {
    background: url(../images/sm_footer/sm_footer_facebook.png) 0 0 no-repeat; }
    .footer_bottom .facebook:hover {
      background-position: 0 -30px; }
  .footer_bottom .twitter {
    background: url(../images/sm_footer/sm_footer_twitter.png) 0 0 no-repeat; }
    .footer_bottom .twitter:hover {
      background-position: 0 -30px; }
  .footer_bottom .in {
    background: url(../images/sm_footer/sm_footer_linkedin.png) 0 0 no-repeat; }
    .footer_bottom .in:hover {
      background-position: 0 -30px; }
  .footer_bottom .youtube {
    background: url(../images/sm_footer/sm_footer_youtube.png) 0 0 no-repeat; }
    .footer_bottom .youtube:hover {
      background-position: 0 -30px; }

@media screen and (max-width: 940px) {
  /*-------------------------------------- 940 Breakpoint ---------------------------------------*/
  .container {
    width: 92%;
    margin: 0 auto;
    overflow: hidden; }

  .masthead .logo {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%; }
    .masthead .logo:last-child {
      margin-right: 0; }
  .masthead .social {
    background: #75cce5;
    border: 1px solid #75cce5;
    border-radius: 5px;
    top: 24px; }

  .mainNav {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    clear: left;
    margin-top: 1em; }
    .mainNav:last-child {
      margin-right: 0; }

  .slide {
    width: 100%;
    height: auto;
    background: url("../images/slides/feature-fun.jpg") center center no-repeat;
    zoom: 1; }
    .slide:before, .slide:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .slide:after {
      clear: both; }

  .r_slide {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 59.57447%;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em 1em 1em 0; }
    .r_slide:last-child {
      margin-right: 0; }
    .r_slide h1 {
      font-size: 1.875em; }
    .r_slide .button {
      margin-top: 1em; }

  /*-------------------------------------- iPad Portrait ---------------------------------------*/
  /*-------------------------------------- iPhone Landscape ---------------------------------------*/
  /*-------------------------------------- Below the iPhone Landscape ---------------------------------------*/ }
@media screen and (max-width: 940px) and (max-width: 768px) {
  .ipad_show {
    display: block; }

  .masthead .social {
    display: none; }
  .masthead .logo {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0; }
    .masthead .logo:last-child {
      margin-right: 0; }
    .masthead .logo a {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }

  .navButton {
    text-align: center;
    clear: both;
    padding: 1em 0; }
    .navButton img {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding-top: .5em; }

  .navTrigger {
    text-align: center;
    font-family: "Enriqueta", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1875em;
    margin: 0 auto;
    padding-top: 1em; }
    .navTrigger:hover {
      text-decoration: none;
      color: #d6172d; }

  .mainNav {
    display: none; }

  .mobileNav {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    display: none; }
    .mobileNav:last-child {
      margin-right: 0; }
    .mobileNav ul {
      margin: 0;
      border-top: 1px solid #0067b3; }
    .mobileNav li {
      position: relative; }
      .mobileNav li a {
        display: block;
        font-family: "Enriqueta", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        text-transform: uppercase;
        color: #0067b3;
        text-decoration: none;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        text-align: center;
        padding: .85em 0;
        background: #e4f5fa;
        border-bottom: 1px solid #0067b3; }
        .mobileNav li a:hover {
          background: #a3ddee;
          color: #d6172d; }
      .mobileNav li span.more {
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 9px;
        right: 10px;
        background: url("../images/icon_open-close.png") 0 0 no-repeat; }
      .mobileNav li span.less {
        background-position: 0 -30px; }
      .mobileNav li ul {
        display: none;
        border-top: none; }
        .mobileNav li ul li a {
          background: #73cbe5; }
    .mobileNav li.green_zone a:hover {
      color: #239600; }
    .mobileNav li.subnav_click > a {
      background: #a3ddee;
      color: #d6172d; }

  .product_grid ul li {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .product_grid ul li:last-child {
      margin-right: 0; }
    .product_grid ul li:nth-child(3n) {
      margin-right: 2.12766%; }
    .product_grid ul li:nth-child(3n+1) {
      clear: none; }
    .product_grid ul li:nth-child(2n) {
      margin-right: 0; }
    .product_grid ul li:nth-child(2n+1) {
      clear: left; }
    .product_grid ul li a, .product_grid ul li img {
      display: block;
      text-align: center;
      margin: 0 auto; }
    .product_grid ul li img {
      padding-top: 1em; }

  .step_container .button {
    font-size: .75em; }

  .footer_bottom .copyright {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 65.95745%; }
    .footer_bottom .copyright:last-child {
      margin-right: 0; }
  .footer_bottom .social {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-right: 0; }
    .footer_bottom .social:last-child {
      margin-right: 0; } }
@media screen and (max-width: 940px) and (max-width: 640px) {
  body {
    background: #e4f5fa url("../images/bg_clouds-mobile.jpg") center top repeat-x; }

  .button {
    margin-bottom: 1em;
    display: block;
    text-align: center; }

  .slide .r_slide .button {
    margin-top: 0; }

  .feature_right {
    text-align: center; }

  .product_grid h4 {
    padding-left: .25em;
    padding-right: .25em; }

  table.company_info {
    display: block; }
    table.company_info tr {
      border-bottom: 5px solid transparent; }
    table.company_info td {
      display: block;
      padding-bottom: .25em;
      width: 100%; }

  .step_container .span_4 {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0; }
    .step_container .span_4:last-child {
      margin-right: 0; }
    .step_container .span_4 img {
      display: block;
      text-align: center;
      margin: 0 auto; } }
@media screen and (max-width: 940px) and (max-width: 605px) {
  *[class*='span_'] {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0; }
    *[class*='span_']:last-child {
      margin-right: 0; }

  .lg_display {
    display: none; }

  .iphone_show {
    display: block; }

  .feature {
    display: none; }

  .sub_feature {
    margin-top: 0; }
    .sub_feature img {
      margin-bottom: 1em; }

  .product_grid ul li {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0; }
    .product_grid ul li:last-child {
      margin-right: 0; }
    .product_grid ul li a, .product_grid ul li img {
      display: block;
      text-align: center;
      margin: 0 auto; }

  .footer .span_4 {
    margin-bottom: 1.25em; }
  .footer div.quick_links {
    padding-left: 0; }
    .footer div.quick_links ul li {
      padding: .5em 0; }
  .footer .social {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .footer .social:last-child {
      margin-right: 0; }
    .footer .social a {
      float: none;
      text-align: center; }
  .footer .copyright {
    text-align: center;
    margin-top: 1em;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%; }
    .footer .copyright:last-child {
      margin-right: 0; }
    .footer .copyright .divider {
      display: none; }
    .footer .copyright .credit {
      display: block; }

  a.quickTrigger {
    padding: .25em;
    border: 1px solid #239600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background: #239600;
    text-align: center; }
    a.quickTrigger:hover {
      text-decoration: none;
      background: #2fc900;
      border-color: #2fc900; } }
/* Modules
 * -----------------------------------------------------------------------------*/
/* Pages
 * -----------------------------------------------------------------------------*/
